@charset "UTF-8";
.center {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.component {
	background: white;
  	width: 700px;
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
  	margin: 0 auto;
}

.table {
	top: 50%;
	left: 50%;
	text-align: center;
}
